*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.removered{
    background-color: red;
}

.header{
    font-family: 'Liu Jian Mao Cao', cursive;
    margin: 40px auto;
    width: 100%;
    text-align: center;
    font-size: 58px;
    color: #005842;
    text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.2);
    letter-spacing: 15px;
}

body{
    background-image: linear-gradient( 135deg, rgb(222, 253, 222) 10%, rgb(142, 196, 127) 100%);
    height: 100vh;
}
.container{
    margin: 0 auto;
    text-align: center;
    margin-top: 25px;
    width: 100%;
}

.container .heading{
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    width: 14%;
    display: inline-block;
    color: white;
    background-color: #00bf8f;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}


.display{
    margin: 0 auto;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    font-weight: 500;
    background: white;
    align-items: center;
box-shadow: 10px 6px 23px -6px rgba(0,0,0,0.44);

}

.book{
    width: 20%;
    flex-wrap: wrap;
    padding: 20px 0;
    font-size: 1em;
}

.new-book{
    cursor: pointer;
    margin: 15px 0 0 215px;
    padding: 17px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    background-color: #00bf8f;
    color: white;
    font-weight: bold;
}

.new-book:hover{
    transform: scale(1.1);
    text-decoration: underline;
}

.form-popup {
    display: none;
    position: fixed;
    margin: auto auto;
    z-index: 9;
    border-radius: 5px;
}

.form-popup .my-form h1{
    margin: 15px auto;
    color: #00bf8f;
}

.form-popup .my-form label{
    float: left;
}

.my-form {
    max-width: 300px;
    padding: 20px;
    background-color: white;
}

.my-form input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border-radius: 10px;
    border: 1px solid white;
    background: #f1f1f1;
}

.my-form input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}

.my-form .btn {
    background-color: #00bf8f;
    color: white;
    padding: 16px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    font-weight: bold;
    font-size: 16px;
}

.my-form .btn:hover{
    text-decoration: underline;
}

.my-form .cancel {
    background-color: red;
}

.readStatus{
    background-color: #00bf8f;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.title{
    font-weight: bold;
}

.remove-btn{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    width: 10%;
    font-weight: bold;
    cursor: pointer;
}

